// Put your custom SCSS code here

a {
  word-wrap: break-word;
}

#logos-row{
  #entalpic-logo{
    max-height: 45px;
  }
  #hf-logo{
    max-height: 85px;
  }
}

// phone
@media screen and (max-width: 992px){
  body, html{
    overflow-x: hidden !important;
    overscroll-behavior-x: none !important;
  }
  #hf-logo{
    img{
      margin-bottom: 30px;
    }
  }
}
